body{
    background-color: cornsilk;
}
.main{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.torres{
    width: 850px;
    display: flex;
    justify-content: space-between;
}

.torre{
    height: 300px;
    width: 20px;
    background-color:black;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    border-radius: 7px;
}

.disco{
    border-radius: 20px;
    border: solid 3px black;
}

#disco0{
    width: 400px;
    height: 50px;
    background-color: rgb(228, 255, 78);
}

#disco1{
    width: 330px;
    height: 50px;
    background-color: brown;
}

#disco2{
    width: 270px;
    height: 50px;
    background-color: rgb(44, 119, 51);
}

#disco3{
    width: 210px;
    height: 50px;
    background-color: rgb(119, 73, 156);
}
#disco4{
    width: 140px;
    height: 50px;
    background-color: rgb(64, 148, 243);
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    margin-top: 50px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    margin-top: 50px;
}
p{
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    margin-top: 10px;
}

.niveis{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25px;
    margin-top: 10px;
}
#nivel1{
    margin-right: 10px;
}
#nivel2{
    margin-right: 10px;
}

.resetButton{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}


@media (max-width:600px){
    .torres{
    width: 250px;
    }
    #disco0{
        width: 200px;
        height: 50px;
        background-color: rgb(228, 255, 78);
    }
    
    #disco1{
        width: 160px;
        height: 50px;
        background-color: brown;
    }
    
    #disco2{
        width: 120px;
        height: 50px;
        background-color: rgb(44, 119, 51);
    }
    
    #disco3{
        width: 90px;
        height: 50px;
        background-color: rgb(119, 73, 156);
    }
    #disco4{
        width: 60px;
        height: 50px;
        background-color: rgb(64, 148, 243);
    }
}

@media(min-width:601px) and (max-width:773px){
    .torres{
        width: 350px;
        }
        #disco0{
            width: 250px;
            height: 50px;
            background-color: rgb(228, 255, 78);
        }
        
        #disco1{
            width: 190px;
            height: 50px;
            background-color: brown;
        }
        
        #disco2{
            width: 130px;
            height: 50px;
            background-color: rgb(44, 119, 51);
        }
        
        #disco3{
            width: 90px;
            height: 50px;
            background-color: rgb(119, 73, 156);
        }
        #disco4{
            width: 60px;
            height: 50px;
            background-color: rgb(64, 148, 243);
        }
}
@media(min-width:773px) and (max-width:1100px){
    .torres{
        width: 500px;
        }
        #disco0{
            width: 285px;
            height: 50px;
            background-color: rgb(228, 255, 78);
        }
        
        #disco1{
            width: 230px;
            height: 50px;
            background-color: brown;
        }
        
        #disco2{
            width: 180px;
            height: 50px;
            background-color: rgb(44, 119, 51);
        }
        
        #disco3{
            width: 130px;
            height: 50px;
            background-color: rgb(119, 73, 156);
        }
        #disco4{
            width: 90px;
            height: 50px;
            background-color: rgb(64, 148, 243);
        }
}

@media(min-width:1100px) and (max-width:1300px){
    .torres{
        width: 700px;
        }
        #disco0{
            width: 340px;
            height: 50px;
            background-color: rgb(228, 255, 78);
        }
        
        #disco1{
            width: 290px;
            height: 50px;
            background-color: brown;
        }
        
        #disco2{
            width: 230px;
            height: 50px;
            background-color: rgb(44, 119, 51);
        }
        
        #disco3{
            width: 180px;
            height: 50px;
            background-color: rgb(119, 73, 156);
        }
        #disco4{
            width: 120px;
            height: 50px;
            background-color: rgb(64, 148, 243);
        }
}